<html>
    <head>
            <title>Software Manager - GenOuest</title>
            <link rel="stylesheet" href="app.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
            <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Software manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div id="app">
            <router-view></router-view>
        </div>

        <script type="text/x-template" id="softwares">
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-sm-8">
                        <div class="lead">This is the list of tools installed on the <a href="https://www.genouest.org">GenOuest</a> cluster.</div>
                        <ul class="m-4">
                            <li><a href="https://help.genouest.org/usage/cluster/#software">How to source one of these tools</a></li>
                            <li><a href="https://help.genouest.org/usage/cluster/#conda">How to install your own tools with Conda</a></li>
                            <li><a href="https://help.genouest.org/usage/cluster/#virtualenv">How to install python packages with Virtualenv</a></li>
                        </ul>
                        <table id="softwaresTable" class="table table-striped table-bordered">
                            <thead class="thead-dark"><tr><td>Name</td><td>Description</td></tr></thead>
                            <tbody>
                            <tr v-for="(soft, index) in softwares">
                                <td><router-link :to="{path: '/' + soft.name}">{{soft.name}}</router-link></td>
                                <td><span v-if="soft.description">{{soft.description}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="software">
            <div class="row justify-content-md-center">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header">{{software.name}}</div>
                        <div class="card-body">

                            <div class="card">
                                <div class="card-body">
                                    <div v-if="software.description && bio && software.description!=bio.description">About: {{software.description}}</div>
                                    <div v-if="bio" class="bio">
                                        <div v-if="bio.description">{{bio.description}}</div>
                                        <div v-if="bio.homepage">Homepage: <a :href="bio.homepage" target="_blank">{{bio.homepage}}</a></div>
                                        <div v-if="bio.license">License: <a :href="'https://spdx.org/licenses/' + bio.license" target="_blank">{{bio.license}}</a></div>
                                        <div>More information on {{software.uid}} at <a :href="'https://bio.tools/' + software.uid" target="_blank">bio.tools</a></div>
                                    </div>
                                </div>
                            </div>

                            <table id="softwareTable" class="table table-striped table-bordered">
                                <thead class="thead-dark"><tr><td>Version</td><td>Environment</td><td>Location</td><td>Install type</td></tr></thead>
                                <tbody>
                                <tr v-for="(soft, index) in versions">
                                    <td>{{soft.version}}</td>
                                    <td><span v-if="soft.env">{{soft.env}}</span></td>
                                    <td><span v-if="soft.location">{{soft.location}}</span></td>
                                    <td><span v-if="soft.type">{{soft.type}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script src="softwares.js"></script>
        <script src="software.js"></script>
        <script src="app.js"></script>
    </body>
</html>
